@import "../../../assets/gl_styles/mixin_cont";

.border {
    width: clamp(290px, 49vw, 670px);
    height: clamp(330px, 54vw, 735px);
    @include flexible();
    justify-content: flex-start;
    overflow: hidden;

    .border_down {
        width: clamp(290px, 49vw, 670px);
        height: clamp(320px, 54vw, 735px);
        @include flexible();
        align-items: flex-end;
        justify-content: flex-start;
        position: absolute;
        z-index: 1;

        .square_1 {
            width: clamp(150px, 26vw, 435px);
            height: clamp(150px, 26vw, 435px);
            background: #DCCA87;
            position: absolute;
            z-index: 1;
        }

    }

    .border_up {
        width: clamp(290px, 49vw, 670px);
        height: clamp(330px, 54vw, 735px);
        @include flexible();
        align-items: flex-start;
        justify-content: flex-end;
        position: absolute;
        z-index: 1;

        .square_2 {
            width: clamp(150px, 26vw, 435px);
            height: clamp(150px, 26vw, 435px);
            background: #DCCA87;
            position: absolute;
            z-index: 1;
        }
    }
    .slider_cont {
        @include flexible();
        gap: 80px;
        z-index: 999;
        padding-left: clamp(10px, 2vw, 20px);

        .pictures {
            
            @include flexible();
            .border_img {
                width: clamp(270px, 46vw, 630px);
            }
        }
    }

}

.slider {
    width: clamp(290px, 30vw, 1068px);
    height: 840px;
    @include flexible();
    justify-content: flex-start;
    overflow: hidden;
}