@import "../../../assets/gl_styles/mixin_cont";

.border {
    width: clamp(290px, 49vw, 670px);
    height: clamp(330px, 54vw, 735px);
    @include flexible();
    justify-content: flex-start;
    overflow: hidden;

    .border_down {
        width: clamp(290px, 49vw, 670px);
        height: clamp(320px, 54vw, 735px);
        @include flexible();
        align-items: flex-end;
        justify-content: flex-start;
        position: absolute;
        z-index: 1;

        .square_1 {
            width: clamp(150px, 26vw, 435px);
            height: clamp(150px, 26vw, 435px);
            background: #DCCA87;
            position: absolute;
            z-index: 1;
        }

    }

    .border_up {
        width: clamp(290px, 49vw, 670px);
        height: clamp(330px, 54vw, 735px);
        @include flexible();
        align-items: flex-start;
        justify-content: flex-end;
        position: absolute;
        z-index: 1;

        .square_2 {
            width: clamp(150px, 26vw, 435px);
            height: clamp(150px, 26vw, 435px);
            background: #DCCA87;
            position: absolute;
            z-index: 1;
        }
    }


    .pictures {

        @include flexible();

        .border_img {
            width: clamp(270px, 46vw, 630px);
        }
    }
}

.slider_cont {
    @include flexible();
    gap: 80px;
    z-index: 999;
    padding-left: clamp(10px, 2vw, 20px);
}

.slider {
    width: clamp(290px, 70vw, 1068px);
    height: clamp(370px, 65vw, 840px);
    @include flexible();
    justify-content: flex-start;
    overflow: hidden;

    .name {
        width: 100%;
        position: absolute;
        @include flexible();
        gap: 80px;
        z-index: 999;

        .title_cont {
            width: clamp(290px, 65vw, 1068px);
            @include flexible();

            .title {
                color: rgb(255, 255, 255);
                font-family: Cormorant Upright;
                font-size: clamp(40px, 10vw, 160px);
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 5%;
                text-align: left;
                text-transform: capitalize;
            }
        }

    }

    .pic {
        width: clamp(290px, 65vw, 1068px);
        @include flexible();
        .slider_img {
            width: clamp(250px, 40vw, 634px);
            border: 1px solid #DCCA87;
            box-sizing: border-box;
            opacity: 0.8;
        }
    }
}