@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Cormorant Upright', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
