@import "../../assets/gl_styles/mixin_cont";

.container {
    width: 100%;
    height: 700px;
    background: #0C0B08;
    @include flexible();

    .content {
        @include cont();
        border: 1px solid rgba(220, 202, 135, 0.20);
        background: #0C0C0C;
        flex-direction: column;
        padding: 48px clamp(8px, 2vw, 32px);
        gap: 64px;
        box-shadow: #fff 0 0 0 0;

        .dialog_box {
            @include flexible();
            gap: 32px;
            width: 100%;
            flex-wrap: wrap;
            z-index: 999;

            .dialog {
                @include flexible();
                width: 380px;
                height: 40px;
                border: 1px solid #F5EFDB;
                background: transparent;
                color: #AAA;
                text-align: center;
                font-variant-numeric: lining-nums tabular-nums;
                font-family: Cormorant Upright;
                font-size: 16px;
                font-weight: 600;
                line-height: 175%;
                letter-spacing: 0.64px;
                text-transform: capitalize;
            }

        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(100%);
            padding-right: 20px;
        }

        .book_btn {
            @include btn();
            z-index: 999;
        }
    }
}