@import "../../assets/gl_styles/mixin_cont";

.container {
    width: 100%;
    height: 800px;
    @include flexible();
    flex-direction: column;
    background: #0C0B08;
    position: relative;
    z-index: 9999;
    

    @include after_bg(800px, 0.3);

    .content {
        width: clamp(1%, 100%, 2560px);
        @include flexible();
        justify-content: flex-end;
        z-index: 9999;
        gap: 64px;

        .title {
            @include flexible();
            flex-direction: column;
            gap: 24px;
            align-items: flex-start;
            width: clamp(280px, 30vw, 491px);

            .description {
                color: #AAA;
                font-family: "Open Sans";
                font-size: clamp(12px, 1vw, 16px);
                font-style: normal;
                font-weight: 400;
                line-height: 175%;
                letter-spacing: 0.64px;
            }

        }
        
        .view_more_btn {
            @include btn();
            text-decoration: none;
        }
        .photo_gallery {
            width: clamp(280px, 55vw, 1380px);
            @include flexible();
            justify-content: flex-start;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #dcca87;
                width: 5px;
            }



            .photo_box {
                @include flexible();

                .photo {
                    width: clamp(150px, 25vw, 301px);
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.3;
                    }
                }

                .icon_box {
                    @include flexible();
                    transform: translateX(clamp(50px, 16vw, 180px));

                    .icon {
                        width: 50px !important;
                        height: 50px !important;
                        fill: aliceblue !important;

                    }

                }
            }
            .end {
                @include flexible();
                flex-direction: column;
                gap: 16px;
                margin-left: 32px;
                .insta {
                    width: clamp(150px, 25vw, 301px);
                    color: #DCCA87;
                    font-variant-numeric: lining-nums tabular-nums;
                    font-family: "Cormorant Upright";
                    font-size: clamp(18px, 2vw, 32px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 1.28px;
                    text-decoration-line: underline;
                    text-transform: capitalize;
                    cursor: pointer;
                    text-align: center;
                }
                .sub {
                    color: #AAA;
                    font-family: "Open Sans";
                    font-size: clamp(10px, 1vw, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 175%;
                    letter-spacing: 0.64px;
                    text-align: center;

                }
            }
        }
    }
}


@media (max-width: 768px) {
    .content {
        justify-content: center !important;
        flex-wrap: wrap;

        .icon_box {
            transform: translateX(clamp(100px, 16vw, 120px)) !important;
        }
    }
}