@import "../../assets/gl_styles/mixin_cont";

.container {
    width: 100%;
    height: 1000px;
    background: #0C0C0C;
    @include flexible();
    position: relative;
    z-index: 1001;
    &::after {
        content: "";
        background: url("/images/no_category/happy_hours.png") no-repeat;
        position: absolute;
        width: 100%;
        height: 1000px;
        opacity: 0.4;
        background-size: cover;
    }

    .content {
        @include flexible();
        flex-direction: column;
        gap: 32px;
        z-index: 999;

        .title {
            color: #DCCA87;
            font-family: Cormorant Upright;
            font-size: clamp(50px, 10vw, 128px);
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 3%;
            text-align: left;
            text-transform: capitalize;
        }

        .description {
            color: #fff;
            font-family: Cormorant Upright;
            font-size: clamp(20px, 2vw, 32px);
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 4%;
            text-align: left;
            text-transform: capitalize;
        }
    }
}