@import "../../../assets/gl_styles/mixin_cont";


.search_input_container {
    @include flexible();
    justify-content: space-between;
    width: 100%;
    border-bottom: #aaaaaa28 2px solid;

    .search_input {
        width: 100%;
        height: 28px;
        background: transparent;
        border: none;
        @include desc(left, normal);

        &::placeholder {
            @include desc(left, normal);
        }

        &:focus-visible {
            outline: auto 0px;
        }
    }
    .search_icon {
        color: #fff;
    }

}
.result_box {
    width: 100%;
    height: 400px;
    overflow: auto;
    @include flexible();
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    .result {
        @include flexible();
        flex-direction: column;
        gap: 10px;

        .search_image {
            width: 100%;
        }

        .title {
            @include title_medium(center);
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        background: transparent;

    }
    &::-webkit-scrollbar-thumb {
        background: #DCCA87;
        width: 5px
    }
}